* {
  box-sizing: border-box;
}
.body {
  margin: 0;
  font-family: Helvetica;
}

.content {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.pageHeadingTitle {
  font-size: 24px;
  text-align-last: center;
  background-color: lightgrey;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footerLinks {
  margin-right: 1%;
}

.footerSection {
  background-color: lightgrey;
}

.footerList {
  background-color: lightgrey;
  padding-left: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 27%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
}

.landingPageText {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 18px;
  text-align: center;
}
